<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<servlet>
		<servlet-name>defaultservlet</servlet-name>
		<!-- Servlet xml name must be defaultservlet-servlet.xml because of the naming convention of webapps -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>defaultservlet</servlet-name>
		<!-- DON'T change it to (/*) -->
		<!-- otherwise it will keep looking for get or post mapping urls in your controllers instead of returning the jsp pages -->
		<!-- Also, all my JSP files are in the same folder, so all i need is one / url mapping here -->
		<!-- otherwise you would need different patterns like /book /user /shop ..etc -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>	